[Desktop Entry]
Type=Application
Name=Emilia
GenericName=Music Player
GenericName[de]=Musikplayer
Comment=Music & audio-drama player for Phosh
Comment[de]=Musik- und Hörspielplayer für Phosh
Exec=emilia
Icon=de.cais.Emilia
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=Music;Player;Audiobook;Podcast;Audio drama;
Keywords[de]=Musik;Music;Player;Hörspiel;Hörbuch;Audiobook;Podcast;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
